@import "variables"

h1,h2,h3,h4
    color: $visual_primary_heading-color
    font-weight: 800
    font-family: 'Noto Sans Regular', 'sans-serif'

h5,h6
    font-size: 1rem
    color: #5E6C84
    font-weight: 600

p
    color: $visual_primary_text-color
    font-weight: 600
    font-family: 'Open Sans', 'sans-serif'

a
    color: $visual_primary_main
    text-decoration: none
    &:hover
        color: $visual_primary_main
        text-decoration: underline

small
    color: $text-grey
